// Code
//––––––––––––––––––––––––––––––––––––––––––––––––––

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: transparentize(white, .9);

  border-radius: $global-radius;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
