.posts{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  // margin: 50px auto;
  box-sizing: border-box;
  padding: 0 20px;
}
.post{
  margin: 0 0 0px 0;
  // border: 1px solid white;
  background-color: $dark-grey;
  text-align: left;
  transition: all .3s ease;
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  background-attachment: fixed;
  padding: 100px 100px 100px 50%;
  &:nth-child(2n){
    padding: 100px 50% 100px 100px;
    text-align: right;
  }

  &:not(.single):hover{
    cursor: pointer;
    background-color: transparentize($dark-grey, .1);
  }
  .title{
    pointer-events: none;
    border-bottom: 1px solid rgba(255,255,255,.5);
  }
  img{
    max-width: 100%;
  }
}
.single{
  padding:20px;
  .single-wrap{
    padding: 100px;
  }
  .featured-image{
    height: 300px;
    background-position: center;
    background-size: cover;
  }
}
