.posts{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
  box-sizing: border-box;
}
.post{
  flex-basis: 40%;
  margin: 10px;
  border-radius: 3px;
  background: rgba(255,255,255,.1);
  border: 1px solid white;
  padding: 25px;
  text-align: left;
  transition: all .3s ease;
  &:not(.single):hover{
    cursor: pointer;
    background-color: transparentize(white, .75);
  }
  .title{
    pointer-events: none;
    border-bottom: 1px solid rgba(255,255,255,.5);
  }
  img{
    max-width: 100%;
  }
}
